body{
	background-image: url("img3.jpg");
	background-repeat:no-repeat;
	position: relative;
	background-color:#0078AE;
	color:#000000;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; 
	font-size:20px;
}

.banner{
	background-image: url("banner.PNG");
	background-repeat:no-repeat;
	background-color:#ffffff;
	position:absolute;
	width: 100%;
	height: 55px;
	top: 38px;

}

.rectangle-1{
	background: #018744;
	border-radius: 50px;
	border:3px;
	padding:20px;
	text-align:center;
	
	font-family: Merriweather;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 38px;
	text-align: center;
	
	position: relative;
	width: 452px;
	height: 663px;
	left: 720px;
	top: 300px;
}

.greeting{
	border-radius: 50px;
	padding:5px;
	margin:5px;
	text-align:center;
	font-size: 16px;
	position: absolute;
	width: 392px;
	height: 47px;
	left: 762px;
	top: 460px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
		
}

.username{
	position: absolute;
	padding:5px;
	margin:5px;
	width: 392px;
	height: 47px;
	left: 762px;
	top: 540px;
	font-family: Merriweather;
	text-align:center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.password{
	position: absolute;
	padding:5px;
	margin:5px;
	width: 392px;
	height: 47px;
	left: 762px;
	top: 620px;
	font-family: Merriweather;
	text-align:center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.username:hover{
	background:#0078AE;	
}

.password:hover{
	background:#0078AE;	
}
.button1:hover{
	background:#0078AE;
}

.button1{
	position: absolute;
	padding:5px;
	margin:5px;
	width: 392px;
	height: 47px;
	left: 762px;
	top: 700px;
	font-family: Merriweather;
	font-size: 16px;
	text-align:center;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 50px;
}

.button2:hover{
	background:#0078AE;
}

.button2{
	position: absolute;
	border-radius: 50px;
	padding:5px;
	margin:5px;
	text-align:center;
	font-family: Merriweather;
	font-size: 16px;
	position: absolute;
	width: 392px;
	height: 47px;
	left: 762px;
	top: 780px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
	