<!-- THY CODED BELOW -->
<!DOCTYPE html>
<html>
	<head>
		<title>Hunter the Hawk</title>
		
		<link rel="stylesheet" type="text/css" 
		href="{{ url_for('static', filename='desktop_chatbot.css') }}">
		
	</head>
	
	<body>
	
		<div class="banner">
		</div>
		
		<div class="rectangle-1">
		</div>
		
		
		<div class="chatbot">

			<div class="chatlogs">
				<div class="chat bot">
					<div class="user-photo"><img src="/static/mascot.png"></div>
					<p class="chat-message"> Hello! Thanks for contacting Hunter the Hawk Advising Chat Bot! You are currently logged in as {{session['FName']}} {{session['LName']}}. How may I assist you today? </p>
				</div>
				<!-- THY CODED ABOVE -->
				<!-- JOHN CODED BELOW -->
				{% for chatlog in g.chatlogs %}
				{% autoescape false %}
					<div class="{{ loop.cycle('chat user', 'chat bot') }}">
					<div class="user-photo"><img src="{{ loop.cycle('/static/student1.jpg', '/static/mascot.png') }}"></div> 
					<p class="chat-message"> {{chatlog}} </p> 
					</div>				
				{% endautoescape %}
				{% endfor %}
			</div>
	<!-- JOHN CODED ABOVE -->
	<!-- THY CODED BELOW -->
	<div class="chat-form">
		<textarea name="user_input" form="userinput" placeholder="Ask me a question!" autofocus></textarea>
		<form method="POST" id="userinput" action="">
			<button type="submit">Send</button>
		</form>
	</div>
	
</div>
		
	</body>
</html>
<!-- THY CODED ABOVE -->